.tabbable
  %ul.nav.nav-tabs.main-tabs
    - @api_docs.keys.each_with_index do |api_tab_label, i|
      %li{:class => (:active if i == 0)}
        = link_to api_tab_label.humanize.capitalize, "##{api_tab_label.underscore}", "data-toggle" => "tab"
        
  .tab-content
    - @api_docs.each do |api_tab_label, api|
      .tab-pane{:id => api_tab_label.underscore}
        - unless api.blank?
          = render :partial => 'api_docs/panel', :locals => {:label => api_tab_label, :api => api}