- if params  
  %p
    %strong Parameters:
    - case params
    - when Array
      %pre= params.join("\n")
    - when Hash
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Param
          %th Description
        - params.each do |param, description|
          %tr
            %td= param 
            %td= description
